.container {
    width: 100%;
    min-height: 40vh;
    background: grey;
    margin: 1rem 0 0;
    border-radius: 0.5rem;
    position: relative;
}

.content {
    height: 100%;
    width: 70%;
    background: #333;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 4rem;
}

.text {
    color: white;
}

.link {
    color: white;
    font-weight: bold;
    margin-top: auto;
    position: absolute;
    bottom: 2rem;
}