.text {
    margin: 0.5rem 0 0;
}

.grid {
    margin: 2rem 0 0;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.gridXs {
    margin: 2rem 0 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}