.container {
    padding: 4rem 0 2rem 0;
}

.text {
    margin: 0.5rem 0 0;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.grid > div {
    display: flex;
    flex-direction: column;
}

.blogPost {
    padding-right: 1rem;
}

.menuContainer {
    text-align: right;
    border-left: 0.065rem solid #333;
}

.menuContainerXs {
    text-align: center;
    margin-top: 1rem;
}