.textContainer {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.noTasks {
    margin-top: 2rem;
}

.checkboxContainer {
    margin: 1rem 0;
}

.button {
    padding: 0.88rem 1.5rem !important;
    margin-left: 0.5rem !important;
}

.list {
    max-width: 20rem;
}

.listItem {
    margin-right: 0.5rem;
}